<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Imágenes</title>
    <!-- Enlazar el archivo CSS de estilos -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <!-- Menu de Navegacion -->
    <header id="header">
        <nav class="menu">
            <div class="logo-box">
                <h1><a href="#">Artistas Web</a></h1>
                <span class="btn-menu"><i class="fas fa-bars"></i></span>
            </div>

            <div class="list-container">
                <ul class="lists">
                    <li><a href="../index.html" class="active">Inicio</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="presupuesto.html">Presupuesto</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>

        <div class="skew-abajo"></div>

    </header>
    <!-- Contenedor de la galería -->
    <div class="container mt-5">
        <h2 class="mb-4">Galería de Imágenes</h2>
        <div class="row d-flex justify-content-center" id="galeria">
            <!-- Aquí se cargarán las imágenes desde JavaScript -->
        </div>
    </div>

    <footer class="footer">
        <div class="skew-arriba"></div>

        <div class="ejeZfooter">
            <div class="footer-content">
                <div class="footer-title">
                    <div class="footer-text">
                        <li>
                            <div class="contenedor">
                                <a href="#" class="facebook">
                                    <i><i class="fa-brands fa-facebook"></i> Artistas Web
                                </a>
                                <a href="#" class="whatsapp">
                                    <i><i class="fa-brands fa-whatsapp"></i>+1 5555555</i>
                                </a>
                            </div>

                            <p>&copy; Artistas Web - 2023 | Todos los derechos reservados.</p>
                    </div>

                    </li>
                </div>
            </div>
    </footer>
    <!-- Enlazar el archivo JavaScript -->
    <script src="../js/galeria.js"></script>
</body>

</html>